#__vrome_cmdline_div {
  position: fixed;
  width: 60%;
  bottom: 2px;
  right: 2px;
  border: 1px solid #CCC;
  z-index: 10000000;
  display: none;
  padding: 2px;
  background-color: #FFC;
}
#__vrome_cmdline_prompt {
  float: left;
  padding: 0 2px;
  font: helvetica;
  font-weight: bold;
  font-size: 11px;
}
#__vrome_cmdline_closebox {
  color: red;
  float: right;
  font-weight: bold;
  font-size: 12px;
  margin-right: 4px;
  cursor: pointer;
}
#__vrome_cmdline {
  width: 70%;
  font: helvetica;
  font-size: 11px;
  border: 1px solid #DDD;
  outline: 1px;
  background-color: #F6F6F6;
}
